.container{
    display:grid;
    background: white;
    border: 1px solid red;
    gap: 5px;
    grid-template-areas: 
    'header header header header'
    'aside aside article article'
    'footer footer footer footer';
}
.container div{
    padding: 20px;
    border: 1px solid;
    text-align: center;
}
.header{
    grid-area: header;
    background-color: blue;   
}
.article{
    grid-area: article;
    background-color: orange;
    height: 500px;
    
}
.article image{
    display: flex;
    align-items: center;
    
}
.aside{
    grid-area: aside;
    background-color: yellow;
    height: 500px;
}
.footer{
    grid-area:footer;
    background-color: violet;
}
    